@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

.dark {
  --background: #020617;
  --foreground: #f1f5f9;
}

html, body, #__next {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.card {
  @apply rounded-2xl shadow-soft bg-white dark:bg-slate-800 dark:border dark:border-slate-700;
}
