@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

html, body, #__next {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.card {
  @apply rounded-2xl shadow-soft bg-white;
}
